*.pyc
Makefile*
*.o
*.a
/src/bin/*
/src/config*
libtool
stamp-h1
/bin/*
/src/neurofitter_config.h
/src/EO/config*
.deps
autom4te.cache
/build
aclocal.m4
/src/missing
/src/EO/ltmain.sh
/src/EO/test-driver
/src/install-sh
/src/ltmain.sh
/src/neurofitter_config.h.in
/src/test-driver
/changes
/src/depcomp
.project
.cproject
.pydevproject
/bin
